.login{
    padding-left: 2%;
    padding-right: 1.5%;
    padding-bottom: 30px;
    border: 2px solid;
    margin-left: 35%;
    margin-top: 2%;
    width: 26%;
}



mat-form-field{
    width: 11%;
    height: 1%;
}



.inputs{
    text-align: center;
}