<div class="center">
  <div style="margin-top: 2%;">
    <h1 style="font-size: 45px;">Servitech</h1>
  </div>
  
</div>
<div style="font-size: 22px;">
  <div class="center">
    <div style="width: 80%; text-align: justify;">
      Mision: “Servitech Accesories” se plante a la idea de ser una fuente de mejora y organización para las empresas de pequeño y mediano alcance sobre la identificación 
      y organización de la base de datos que manejan de forma permanente; dicha información al no estar bien planificada, verificada y/o actualizada puede llegar a generar 
      malestares directivos organizacionales y evidentemente económicos por tal razón pensar en software personalizados que logren ser aplicados a través del ciclo (PHVA) y 
      que permitan la transformación en sus análisis e información de datos obteniendo datos confiables y que permitan trascender a innovación constante.
    </div>
  </div><br>
  <div class="center">
    <div style="width: 80%; text-align: justify;">
      Vision: El siguiente proyecto tiene como finalidad desarrollar un sistema de información de la empresa “Servitech Accesories”. Donde se tendrá presente las fases de 
      desarrollo distribuidas en: Fase de análisis en el cual se emplean los métodos de recolección de datos tales como la encuesta y la entrevista, con el fin de ultimar 
      aquellas falencias encontradas para una mejor organización en el desarrollo del sistema En la fase de planeación se desarrollaran los diferentes diagramas de casos 
      de uso, de clases, modelo entidad-relación y modelo relacional. Además se estimaran tiempos de trabajo los cuales le permitirán al programador y diseñador concretar 
      con el cliente fechas y actividades dispuestas para el desarrollo del mismo.
    </div>
  </div>
</div>


