
mat-form-field{
    margin-left: 0;
    width: 95%;
}

.inputs{
    border: none;
    text-align: center;
    width: 98.5%;
}
td{
    text-align: center;
}

table{
    width: 100%;
}

.icons{
    height: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}