
.tab-option{
    text-align: center;
}

mat-grid-list{
    margin-left: 3%;
    margin-right: 3%;
}

.tab-active{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0px;
}

.opacity{
    //background-color: #b9b9b9;
    color: #898989;
}