<div class="content-v2">
  <h1 style="text-align: center;">Consultar Usuarios</h1>

  <mat-grid-list cols="6" rowHeight="75px">

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Nombre y Apellido</mat-label>
        <input matInput autocomplete="off" type="text" [(ngModel)]="nombres">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Identificación</mat-label>
        <input matInput autocomplete="off" type="number" [(ngModel)]="identificacion">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" type="text" [(ngModel)]="email">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput autocomplete="off" type="number" [(ngModel)]="telefono">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="rol" >
          <mat-option *ngFor="let item of roles" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="estado" >
          <mat-option *ngFor="let item of status" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="center">
    <button mat-raised-button color="primary" class="buttonSearch" (click)="getAll()">
      <mat-icon  style="margin-right: 10px;">search</mat-icon>Consultar
    </button>
  </div>

 
    <app-my-table
      [(datasource)]="dataSource"
      [(columns)]="columns"
      [(length)]="length"
      paginator="true"
      search="true"
      [(pagesize)]="pageSize"
      [(pagesizeoptions)]="pageSizeOptions"
      (changePaginator)="changePaginator($event)"
      (changeSort)="changeSort($event)"
      (deleteItems)="deleteItems($event)"
      (editItems)="editItems($event)"
      (historialItems)="historialItems($event)"
    ></app-my-table>
   
    <div class="buttonsForms">
      <a mat-raised-button color="primary" class="buttons" href="/usuarios/create">
        <mat-icon  style="margin-right: 10px;">add</mat-icon>Agregar Usuario
      </a>
    </div>

</div>
