mat-form-field{
    width: 95%;
}

.aggImg{
    text-align: center;
    border: 2px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.selectImg{
    position: relative;
    margin-left: -4%;
    margin-top: 10%;
    background-color: #1c1d26;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid;   
}